<script>
    function updateGiscusTheme() {
        const theme = document.documentElement.getAttribute('data-theme');
        const giscusTheme = theme === 'light' ? 'light' : 'noborder_gray';
        document.getElementById('giscusComments')?.setAttribute('data-theme', giscusTheme);

        const iframe = document.querySelector('iframe.giscus-frame') as HTMLIFrameElement;
        if (!iframe) return;
        const themeMsg = {
            setConfig: {
                theme: giscusTheme,
                reactionsEnabled: false,
            }
        }
        iframe.contentWindow?.postMessage({ giscus: themeMsg}, 'https://giscus.app');
    }

    updateGiscusTheme();

    // Watch for theme changes
    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            if (mutation.attributeName === 'data-theme') {
                updateGiscusTheme();
            }
        }
    );
});

observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ['data-theme']
});

</script>


<section class="mx-auto mt-12">
  <script
   id="giscusComments"
    src="https://giscus.app/client.js"
    data-repo="yogeshpaliyal/yogeshpaliyal.com"
    data-repo-id="R_kgDONQlO3w"
    data-category="Comments"
    data-category-id="DIC_kwDONQlO384CkWBb"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="noborder_gray"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</section>
