---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Pagination from "@/components/Pagination.astro";
import ProjectCard from "@/components/ProjectCard";
import { SITE } from "@/config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"projects">>;
  title?: string;
  description?: string;
}

const { page, title, description } = Astro.props;
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main
    pageTitle={`${title ? title : "Posts"}`}
    pageDesc={`${description ? description : "All the articles I've posted."}`}
  >
    <ul>
      {
        page.data.map(({ data }) => {
          return (
          <ProjectCard client:load href={data.url} frontmatter={data} hideDateTime />
        )})
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
